<%- include("partials/header") %>

<div class="sale-tab">
  <img id="post-img" src=<%=img %>alt="car for sale image" >
  <h3><%=year %> <%= make %> <%= model %> <%= type %> <%= transmission %></h3>
  <p>$<%= price %> <%= location %></p>
  <P><%= phone %> <%= email %> </P>
</div>

<%- include("partials/footer") %>
